<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja Web Flex</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>

        <h1><a href="index.html">Vendas Legais Online</a></h1>

        <nav>
            <a href="produtos.html">Produtos</a>
            <a href="cadastro.html">Cadastro</a>
            <a href="carrinho.html">Carrinho</a>
        </nav>

    </header>

        <div>
            <img src="https://http2.mlstatic.com/D_NQ_986069-MLA85613282066_062025-OO.webp" style="width: 100%;  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));">
        </div>
        
        <br/>
        <br/>
       <div class="container-cards">
        <div class="card-produto">
            <img src="https://i.imgur.com/8tO2p67.png" alt="Jogo Terraria PS4">
            <h2>Jogo Terraria PS4</h2>
            <p class="preco">R$19,90</p>
            <div class="botoes-container">
                <a href="produto.html"><button class="btn-comprar">Comprar</button></a>
            </div>
        </div>

        <div class="card-produto">
            <img src="https://m.media-amazon.com/images/I/51Z1jkudQGL._AC_SY200_.jpg" alt="Outro Produto">
            <h2>Outro Produto</h2>
            <p class="preco">R$29,90</p>
            <div class="botoes-container">
                <a href="produto.html"><button class="btn-comprar">Comprar</button></a>
            </div>
        </div>

        <div class="card-produto">
            <img src="https://m.media-amazon.com/images/I/51iK4yLdfWL._SR480,440_.jpg" alt="Mais um Produto">
            <h2>Mais um Produto</h2>
            <p class="preco">R$9,90</p>
            <div class="botoes-container">
                <a href="produto.html"><button class="btn-comprar">Comprar</button></a>
            </div>
        </div>
        <div class="card-produto">
            <img src="https://m.media-amazon.com/images/I/51iK4yLdfWL._SR480,440_.jpg" alt="Mais um Produto">
            <h2>Mais um Produto</h2>
            <p class="preco">R$9,90</p>
            <div class="botoes-container">
                <a href="produto.html"><button class="btn-comprar">Comprar</button></a>
            </div>
        </div>
        </div>
    </div>

    <footer><p>&copy; 2025 Vendas Legais Online. Todos os direitos reservados.</p></footer>
</body>
</html>